<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Page Not Found - NVGT.zip</title>

	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		h1 {
			font-size: 3em;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.2em;
		}

		a {
			text-decoration: none;
			color: #007BFF;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<h1>Oh no! That 404 error again; this must be another one of those pages with the title 'Page Not Found'!</h1>
		<p>The page you are looking for does not appear to exist; as truly unfortunate as that is. There's still hope though!<br>
		For a list of pages that do actually exist, see <a href="/">the homepage</a>.</p>
	</body>
</html>
