<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>NVGT.zip</title>

	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		h1 {
			font-size: 3em;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.2em;
		}

		a {
			text-decoration: none;
			color: #007BFF;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<h1>NVGT.zip</h1>
		<p>This little website allows you to download the latest version of NVGT for any platform.</p>
		<p>Here are some available options:</p>
		<ul>
			<li>Download NVGT for any supported platform by simply adding it to the end of the URL. For example, you could download NVGT for macOS (latest version) with <a href="https://nvgt.zip/mac">https://nvgt.zip/mac</a>.</li>
			<li>The supported platforms are: linux, mac, windows.</li>
			<li>You can also use /version.json to get the NVGT version returned back to you in JSON format.</li>
		</ul>
	</body>
</html>
