<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>NVGT.zip</title>

	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		h1 {
			font-size: 3em;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.2em;
		}

		a {
			text-decoration: none;
			color: #007BFF;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<h1>NVGT.zip</h1>
		<p>This little website allows you to easily download the latest version of <a href="https://nvgt.gg">NVGT</a> for any platform.</p>
		<ul>
			<li>Download NVGT for any supported platform by simply adding it to the end of the URL. For example, you could download NVGT for macOS (latest version) with <a href="/mac">https://nvgt.zip/mac</a>. A complete list of available platforms is below.</li>
			<li>The complete list of supported platforms are: <a href="/android">android</a>, <a href="/linux">linux</a>, <a href="/mac?>mac"</a>, <a href="/windows">windows</a>.</li>
			<li>Use /dev/platform to download the latest development installer for that platform.</li>
			<li>Use <a href="/commits.html">commits.html</a> or <a href="/commits.txt">commits.txt</a> to see NVGT's latest commits.</li>
			<li>Use <a href="/version.json">/version.json</a> to get the NVGT version returned back to you in JSON format, or <a href="/version.txt">/version.txt to get it returned in plaintext.</li>
		</ul>

		<hr>
		<p>NVGT.zip was written by BrailleScreen and other contributors. You can <a href="https://github.com/braillescreen/nvgt.zip">view or submit improvements to the source code on GitHub</a>.</p>
	</body>
</html>
